@import url("./style.css");
@import url("./menus.css");

main {
  font-family: "Kaushan Script", sans-serif;
  background-color: var(--blanc)
}

h2{
  color: var(--vertclair);
    background: -webkit-linear-gradient(left, var(--vertclair), #bfff7e);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}