@import url("./style.css");
@import url("./menus.css");
main {
	font-family: "Croissant one", Arial, Helvetica, sans-serif;
	background-color: var(--mauveclair);
}

h2 {
	background: var(--degradeMenu2);
	font-family: "croissant one", Arial, Helvetica, sans-serif;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	font-weight: lighter;
}

h3 {
	font-family: "short stack", Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: inherit;
	text-decoration: none;
	background: linear-gradient(to top, rgba(0, 0, 0) 0%, rgba(0, 0, 0) 3px, transparent 3px) no-repeat center bottom / 0 100%;
	transition: background-size .7s;
}

h3:hover {
	background-size: 38% 100%;
	width: 100%;
	transition: all 400ms;
}

ul {
	font-size: 0.73em;
    letter-spacing: -0.14em;
}

.menulcl {
	font-family: "short stack", Arial, Helvetica, sans-serif;
	line-height: 2em;
	margin-top: 2em;
	padding-left: 10px;
	padding-right: 10px;
}

.psmea {
	color: var(--brun);
	font-family: "short stack", Arial, Helvetica, sans-serif;
	letter-spacing: -0.9px;
}

.psmea h3::before,
.psmea h3::after {
	content: "-------------------------";
	background: var(--brun);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	letter-spacing: -4px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}

.pdp {
	font-family: "short stack", Arial, Helvetica, sans-serif;
	color: var(--violetclair);
	letter-spacing: -0.9px;
}

.pdp h3::before,
.pdp h3::after {
	content: "-------------------------";
	background: var(--violetclair);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	letter-spacing: -4px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 1rem;
	text-decoration: none;
}

.gs {
	font-family: "short stack", Arial, Helvetica, sans-serif;
	color: var(--mauve);
	letter-spacing: -0.9px;
}

.gs h3::before,
.gs h3::after {
	content: "-------------------------";
	background: var(--mauve);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	letter-spacing: -4px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 1rem;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	main {
		font-size: 25px;
	}
	.psmea h3::before,
	.psmea h3::after {
		margin: 0 1rem;
	}
	.menulcl {
		line-height: 1.5em;
	}
	.psmea {
		margin-top: 1em;
		letter-spacing: -2.5px;
	}

	.pdp{
		letter-spacing: -2.5px;
	}

	.gs{
		letter-spacing: -2.5px;
	}
	ul {
		font-size: 0.85em;
	}
}