main{
  margin-bottom: 7rem;
  max-width: 800px;
  margin: auto;
  margin-top: 2em;
  padding: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

h2{
  width: fit-content;
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between ;
  text-align: left;
}

@media screen and (min-width: 768px){
  li {
    display: flex;
    justify-content: space-between;
  }
}