@import url("./style.css");
@import url("./menus.css");
main {
	background-color: var(--blancfonce);
	font-family: "Alex brush", Arial, Helvetica, sans-serif;
	font-size: 15px;
}

h2 {
	background: var(--degradeMenu3);
	font-family: "cookie", Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding-top: 1em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	background: linear-gradient(to top, rgba(0, 0, 0) 0%, rgba(0, 0, 0) 2px, transparent 3px) no-repeat center bottom / 0 100%;
	color: inherit;
	font-family: "Kalam", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	text-decoration: none;
	transition: background-size .7s;
}

h3:hover {
	background-size: 40% 100%;
	transition: all 400ms;
	width: 100%;
}

h3:before,
h3:after {
	background: var(--degradeMenu3);
	content: "--------------------";
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -4px;
	margin: 0 2rem;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.menuldp {
	line-height: 2.2em;
	padding-left: 10px;
	padding-right: 10px;
}

.pbc h3::before,
.pbc h3::after {
	background: var(--bleufonce);
	content: "--------------------";
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -4px;
	margin: 0 1rem;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pbcc h3::before,
.pbcc h3::after {
	background: var(--bleu);
	content: "--------------------";
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -4px;
	margin: 0 2rem;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.pbt h3::before,
.pbt h3::after {
	background: var(--bleuclair);
	content: "--------------------";
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: -4px;
	margin: 0 2rem;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

ul {
	font-size: 0.6em;
	padding-left: 30px;
	padding-right: 30px;
}

li {
	font-family: "Cookie", Arial, Helvetica, sans-serif;
	font-size: 1.6em;
}

@media screen and (min-width: 768px) {
	main {
		font-size: 27px;
	}
	ul {
		font-size: 0.72em;
		padding-left: 30px;
		padding-right: 30px;
	}
	.pbc {
		padding-top: 1em;
	}
}