@import url("./style.css");
@import url("./menus.css");
main {
	background-color: var(--blanc);
	font-family: "Kaushan Script", sans-serif;
	font-size: 16px;
}

h2 {
	background: var(--degradeMenu4);
	color: var(--vertclair);
	padding-top: 1em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3 {
	background: linear-gradient(to top, rgba(0, 0, 0) 0%, rgba(0, 0, 0) 3px, transparent 3px) no-repeat center bottom / 0 100%;
	color: inherit;
	font-size: 1.3em;
	height: 31px;
	text-decoration: none;
	transition: background-size .7s;
}

h3:hover {
	background-size: 25% 100%;
	transition: all 400ms;
	width: 100%;
}

h3:before {
	background: var(--degradeMenu4);
	content: "----------------------";
	font-family: Arial;
	letter-spacing: -4px;
	margin: 0 1rem;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h3:after {
	background: var(--degradeMenu4d);
	content: "----------------------";
	font-family: Arial;
	letter-spacing: -4px;
	margin: 0 1rem;
	text-decoration: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

ul {
	font-size: 0.43em;
	line-height: 4em;
}

li {
	font-size: 1.9em;
	letter-spacing: -0.05em;
}

.menulpg {
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (min-width: 768px) {
	main {
		font-size: 20px;
	}
	h2 {
		font-size: 3rem;
	}
	h3 {
		height: 40px;
	}
	h3:before,
	h3:after {
		margin: 0 4rem;
	}
	ul {
		font-size: 0.43em;
		line-height: 5em;
	}
	li {
		font-size: 2.9em;
	}
}